

.grid-container {
  display: grid;
  grid-template-columns: 10fr 10fr; /* Cria duas colunas iguais */
  gap: 20px; /* Espaçamento entre as colunas */
  align-items: center; /* Alinha os itens no centro verticalmente */
  padding: 20px;
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #181818;
}

.text-content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-content-header h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.text-content-header p {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #736f6b;
  line-height: 1.5;
}

button {
  display: flex;
  padding: 15px 20px;
  background-color: #f54f4f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  width: 25rem;
  justify-content: center;
  margin-top: 20px;
}

.image-content img {
  max-width: 100%; /* Faz a imagem se ajustar ao tamanho do container */
  height: auto;
  border-radius: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Para telas menores, exibe os elementos em uma coluna */
  }
}